<style type="text/css">
    label {font-weight: normal !important};
</style>
<script type="text/javascript">
    function changeFlag(flag) {
        document.getElementById("modflag").value = flag;
    }

    function setSemID(semID, flag) {
        document.getElementById("semid").value = semID;
        document.getElementById("modflag").value = flag;
    }
	
	var sortableConfig = {
	      connectWith: ".unitsList tbody",
		  items: ".unitRow",
		  cursor: "move",
		  receive: function(event, ui) {
				/* validate the change */
				var unitSem = ui.item.attr('sem-avail');
				var thisSem = $(this).parent().attr('sem');
				if ((unitSem == "Both") || (unitSem == thisSem) || ($(this).parent().is('#remainUnits'))) {
					$(".unitsList tbody").each(validateUnitsList);
					$('#remainUnits .remainCountRow p').html("Total remaining units: "+$("#remainUnits tbody .unitRow").length);
					updateCreditPointsBox();
					requestPreReqValidation();
				} else {
					alert("Unit not available this semester.");
					$(ui.sender).sortable('cancel');
				}
		    }
    	}
	
	$(function() {
		/* configure unitLists to be sortable */
		$( ".unitsList tbody" ).sortable(sortableConfig).disableSelection();
	
		/* validate immediately */
		$(".unitsList tbody").each(validateUnitsList);
		requestPreReqValidation();
		
		/* lock the horizontal scrolling to 0 */
		$("#planner-body").scroll(function() {
			$("#planner-body").scrollLeft(0);
		});
	});
	
	function validateUnitsList() {
		var credits = 0;
		var creditsRow = $(this).parent().children("tfoot").children(".creditsRow");
		$(this).children(".unitRow").each(function() {
			credits+=parseFloat($(this).attr('credit-points'));
		});
		$(this).parent().attr('credit-points', credits);
		$(this).children().remove(".sort-disabled");
		$(this).parent().parent().parent().parent().children().remove(".close");
		if ($(this).parent().is('#remainUnits') && (credits==0)) {
			$(this).append('<tr class="sort-disabled"><td>No units remaining!</td><td></td></tr>');
			return;
		}
		if (credits>100) {
			//$(ui.sender).sortable('cancel');
			//alert('Your selection has been cancelled. Credit points exceeded');
			creditsRow.css("color", "#cc0000");creditsRow.css("font-weight", "bold");
		} else if (credits == 0) {
			//if last sembox
			if (($(this).parent().attr('semtable-id') == $(".semtable tbody").length-1) && ($(this).parent().attr('semtable-id')!=0)) {
				$(this).parent().parent().parent().parent().prepend('<button class="close" onClick="removeSemBox(this);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">Close</span></button>');	
			}
			$(this).append('<tr class="sort-disabled"><td>No units planned</td><td></td></tr>');
		} else {creditsRow.css("color", "");creditsRow.css("font-weight", "");}
		creditsRow.html('<td colspan="3"><div style="font-size:11px; text-align:right;">Credit points: '+credits+'</div></td>');
	}
	
	function updateCreditPointsBox() {
		var creditsPlanned = 0;
		var creditsRemaining = 0;
		$('.semtable').each(function() {
			$(this).children("tbody").children('.unitRow').each(function() {
				creditsPlanned += parseFloat($(this).attr('credit-points'));
			});
		});
		$('#remainUnits tbody').children(".unitRow").each(function() {
			creditsRemaining += parseFloat($(this).attr('credit-points'));
		});
		$('#plan-pts').attr('placeholder', creditsPlanned);
		$('#rem-pts').attr('placeholder', creditsRemaining);
	}
	
	function requestPreReqValidation() {
		/* create unit planning data structure. */
		var semesters = [];
		var remainUnits = [];
		/* populate unit planning data structure */
		$('.semtable').each(function() {
			var semUnits = [];
			$(this).children("tbody").children('.unitRow').each(function() {
				semUnits.push(parseInt($(this).attr('uid')));
			});
			semesters[$(this).attr('semtable-id')] = semUnits;
		});
		$('#remainUnits tbody').children(".unitRow").each(function() {
			remainUnits.push(parseInt($(this).attr('uid')));
		});
		
		/* handle sem2 start */
		if (semesters[0]==null) {semesters[0]=[];semesters[0].push(-1);}
		
		$.ajax({
	        type: 'POST',
	        url: '/planner/validate',
	        context: this,
			data: {
				semesters: JSON.stringify(semesters),
				remain_units: JSON.stringify(remainUnits)
				},
	        success: function(data) {
				// clear invalid highligting
				$(".semtable tbody .unitRow").css('color', '');
				// highlight invalid units
	            if (data.valid === false) {
					$(".semtable tbody .unitRow").each(function() {
						var uid = parseInt($(this).attr('uid'));
						if (-1!=$.inArray(uid, data.invalid_units)) {
							$(this).css('color', '#cc0000');
						}
					});
	            }
	            return false;
	        }
	    });
		
		
	}
	
	function removeSemBox(icon) {
		$(icon).parent().remove();
		/* validate immediately */
		$(".unitsList tbody").each(validateUnitsList);
		requestPreReqValidation();
	}
	
	function addSemBox() {
		var semId = parseInt($(".semtable").last().attr('semtable-id'))+1;
		var year = parseInt(semId / 2)+1;
		var sem = (semId%2)+1;
		// find row
		var row = null;
		$(".row").each(function() {
			if (parseInt($(this).attr('year-id')) == year) {
				row = this;
			}
		});
		//if not exist, create
		if (row==null) {
			row=document.createElement('div');
			$(row).addClass("row");$(row).attr('year-id', year);
			$("#planner-body").append(row);
		}
		var col = document.createElement('div');$(col).addClass("col-md-6");
		var thumb = document.createElement('div');$(thumb).addClass("thumbnail");
		$(thumb).html("<h5><center>Year "+year+" Semester "+sem+"</center></h5>");
		var cap = document.createElement('div');$(cap).addClass("caption");
		var table = document.createElement('table');$(table).addClass("table table-condensed table-hover unitsList semtable");
		$(table).attr('semtable-id', semId);$(table).attr('sem', sem);
		$(table).append(document.createElement('tbody'));
		$(table).append(document.createElement('tfoot'));
		$(table).children('tfoot').html('<tr class="creditsRow"></tr>');
		$(cap).append(table);
		$(thumb).append(cap);
		$(col).append(thumb);
		$(row).append(col);
		
		/* add new list to sortable */
		$(table).children('tbody').sortable(sortableConfig).disableSelection();
		
		/* validate immediately */
		$(".unitsList tbody").each(validateUnitsList);
		requestPreReqValidation();
	}
	
</script>

<%= javascript_tag do %>
  var session_sems = <%= session[:semesters].to_json %>;
<% end %>

    <!-- START enrolment_planner form -->
    <%= form_tag :action => "enrolment_planner" do %>
    <%= hidden_field_tag "modflag", 0 %>
    <%= hidden_field_tag "semid", 0 %>
    <div class="row">
        
        <div class="col-md-7"> <!-- enrolment planner -->
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Enrolment Planner</center></h3>
                </div>
                <div class="panel-body" id="planner-body" style="height:500px; overflow:auto;overflow-x;hidden;" >
                    <% session[:semesters].length.times do |i| %>
                        <% if (i%2 == 0) %><div class="row" year-id="<%=(i+2)/2 %>"><%end%>
                            <%= render partial: "master_layouts/sembox", locals: { semester: (i+1), count: i } %>
                        <% if ((i%2 == 1)||(i==session[:semesters].length-1)) %></div><%end%>
                    <% end %>
                </div>
                <div class="panel-footer" style="text-align:center;">
                    <button type="button" class="btn btn-default btn-sm" onclick="addSemBox();"><i class="glyphicon glyphicon-plus"></i></button>
                    <button type="submit" class="btn btn-default btn-sm" onclick="changeFlag(6);">Auto Plan!</button>
                    <label><input type="checkbox" name="include_planned"> Include planned semesters</label>
				</div>            
            </div>
        </div>  <!-- end of enrolment planner -->
        
        <div class="col-md-5"> <!-- Remaining Units -->
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Remaining Units</center></h3>
                </div>
                
                <div class="panel-body" style="height:500px; overflow:auto;">
                    <% unless session[:remain_units].nil? %> 
                    <table class="table table-condensed table-hover unitsList" id="remainUnits">
                        <thead><tr class="showinforow">
                            <th style="font-size:11px; text-align:center;">Code</th>
                            <th style="font-size:11px;">Unit Name</th>
                            <th style="font-size:11px; text-align:center;">Sem</th>
                        </tr></thead>
						<tbody>
						<% session[:remain_units].each do |uid| %>
                            <% unit = @units.where(:id => uid).first %>
                            <tr uid="<%=unit.id%>" credit-points="<%=unit.creditPoints%>" sem-avail="<%=unit.semAvailable==0 ? "Both" : unit.semAvailable %>" class="unitRow">
                                <td style="font-size:11px; text-align:center;"> <!-- unit code -->
                                    <%= unit.unitCode %>
                                </td>
                                <td style="font-size:11px"> <!-- unit name -->
                                    <%= unit.unitName %>
                                </td>
                                <td style="font-size:11px; text-align:center;"> <!-- semester -->
                                    <%=unit.semAvailable==0 ? "Both" : unit.semAvailable %>
                                </td>
                            </tr>
                        <% end %>
						</tbody>
						<tfoot>
						<tr class="remainCountRow">
							<td colspan="3"><p align="right">Total remaining units: <%= session[:remain_units].length %></p></td>
						</tr>
                    </table>
                    <% end %>
                </div>              
            </div>
        </div>      <!-- end of Remaining Units -->
    <% end %> <!--END enrolment_planner form-->
    </div>
    

    <div class="row">
        <div class="col-md-4">  <!-- download and email -->
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Download & Email</center></h3>
                </div>
                
                <div class="panel-body" style="height: 115px">
                    <div align="center">
                        <%= link_to 'Download PDF', planner_sembox_path(format: "pdf"), class: "btn btn-success" %>
                        <%= link_to 'Download CSV', download_csv_path, class: "btn btn-warning" %>
                    </div>
                    
                    <br>
					
					<%= form_tag planner_send_email_path, multipart: true do %>               
					<div class="input-group">
						<%= text_field_tag :RecipientEmail, nil, {placeholder:'Enter Email Address', class:'form-control'}%>
						<span class="input-group-btn">
							<%= submit_tag "Send", name:nil, class: 'btn btn-default'%>
							<%end%>
                        </span>
                    </div> 
					
                </div>
            
            </div>
        </div>      <!-- end of download and email -->

        <div class="col-md-4"> <!-- upload your CSV -->
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Upload your CSV</center></h3>
                </div>      
                
                <div class="panel-body" style="height: 110px; margin-top: 5px">
                    <%= form_tag download_csv_path, multipart: true do %>
                    <div class="form-group">
                        <%= file_field_tag :file %><br>
                        <%= submit_tag "Upload", class: 'btn btn-default' %>
                    </div>
                    <% end %>
                </div>
                
            </div>
        </div>      <!-- end of upload your CSV -->

        <div class="col-md-4"> <!-- credit points -->
            <div class="panel panel-default">               
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Credit Points</center></h3>
                </div>
                <%= render partial: "master_layouts/creditpoints" %>            
            </div>
        </div>      <!-- end of credit points -->
    
    </div>
    
 <!-- modal for unit info -->
	<div class="modal fade" id="unitInfoModal" tabindex="-1" role="dialog" aria-labelledby="unitInfoModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="unitInfoModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

<% if @proceed == false %>
    <script type="text/javascript">window.alert("<%= @msg %>");</script>
<% end %>
<%= render partial: "master_layouts/footer" %>
