<%= render partial: "navbar" %>

<%= form_tag :action => "enrolment_planner" do %>
<div class = "container">			<!--planner begins-->
	<div class="row">
		<div class="col-md-8"> <!-- enrolment planner -->
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><center>Enrolment Planner</center></h3>
					</div>
					<div class="panel-body">		
						<div class="row">
							<div class="col-sm-6 col-md-5">
								<% session[:semesters].length.times do |i| %>
									<%= render partial: "sembox", locals: { semester: (i+1), count: i } %>
					 		    <% end %>
							</div>
						</div>
					</div>
			</div>
		</div> 	
		
		<div class="col-md-4"> <!-- Remaining Units -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><center>Remaining Units</center></h3>
				</div>
				<div class="panel-body" style="height:500px">
					<p class="text-success" style="padding:1px 1px 1px 5px; margin-bottom:5px"><small><span class="glyphicon glyphicon-info-sign"></span> Hold Ctrl (Control) button to select multiple units.</small></p>
					<div class="list-group">
						<% unless session[:remain_units].nil? %>
							
							<%= select_tag "remain_unit", options_from_collection_for_select(Unit.find(session[:remain_units]), "id", "unitName"), multiple: true, class: 'form-control' %>
						<% end %>
					</div>
					<p align="right">Total remaining units: <%= session[:remain_units].length %></p>
				</div>
			</div>
		</div>
	</div>
<% end %>
	<div class="row">
		<div class="col-md-4">  <!-- download and email -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><center>Download & Email</center></h3>
			</div>
			<div class="panel-body">

				<div align="center">
					<%= link_to 'Download PDF', download_pdf_path, class: "btn btn-success" %>
					<%= link_to 'Download CSV', download_csv_path, class: "btn btn-warning" %>
				</div>
				
			</div>
			<div class="input-group">
				<input type="email" class="form-control" id="email" placeholder="Enter Email Address">
	  			<span class="input-group-btn">
	    			<button class="btn btn-default" type="button">Send</button>
	  			</span>
			</div><!-- /input-group -->
		</div>
		</div>

		<div class="col-md-4"> <!-- upload your CSV -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><center>Upload your CSV</center></h3>
				</div>		
				<div class="panel-body">
					<div class="form-group">
						<input type="file" id="localFile"> <br>
						<label><a href="#" class="btn btn-default" role="button">Upload</a></label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4"> <!-- credit points -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><center>Credit Points</center></h3>
				</div>
				<div class="panel-body">
					<p>Completed:</p><%= text_field_tag "disabledInput", nil, class: "form-control", disabled: true, placeholder: calc_credits("completed") %>
					<p>Planned:</p><%= text_field_tag "disabledInput", nil, class: "form-control", disabled: true, placeholder: calc_credits("planned") %>
					<p>Remaining:</p><%= text_field_tag "disabledInput", nil, class: "form-control", disabled: true, placeholder: calc_credits("remaining") %>
				</div>
			</div>
		</div>
	</div>
</div>					<!--planner ends-->

<%= render partial: "footer" %>
<% session[:enrol_planner_flag] = 1 %>
