<script type="text/javascript">
	function changeFlag(flag) {
		document.getElementById("modflag").value = flag;
	}
	function setSemID(semID, flag) {
		document.getElementById("semid").value = semID;
		document.getElementById("modflag").value = flag;
	}
	
	$(document).ready(function() {
    	$('#remain_unit').hover(function() {
        	$('#popup').show();
    	}, function() {
        	$('#popup').hide();
    	});
	});
</script>

<div class = "container">			<!--planner begins-->
	<%= form_tag :action => "enrolment_planner" do %>
	<%= hidden_field_tag "modflag", 0 %>
	<%= hidden_field_tag "semid", 0 %>
	<div class="row">
		
		<div class="col-md-8"> <!-- enrolment planner -->
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h3 class="panel-title"><center>Enrolment Planner</center></h3>
				</div>
				<div class="panel-body" style="height:440px; overflow:auto" >
					<% session[:semesters].length.times do |i| %>
							<%= render partial: "master_layouts/sembox", locals: { semester: (i+1), count: i } %>
					<% end %>
				</div>
			
			</div>
		</div> 	<!-- end of enrolment planner -->
		
		<div class="col-md-4"> <!-- Remaining Units -->
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h3 class="panel-title"><center>Remaining Units</center></h3>
				</div>
				
				<div class="panel-body" style="height:440px">
					<p class="text-success" style="padding:1px 1px 1px 5px; margin-bottom:5px"><small><span class="glyphicon glyphicon-info-sign"></span> Hold Ctrl (Control) button to select multiple units.</small></p>
					<% unless session[:remain_units].nil? %>	
					<%= select_tag "remain_unit", options_from_collection_for_select(Unit.find(session[:remain_units]), "id", "unitName"), multiple: true, class: 'form-control', style: "height: 380px" %>
					<% end %>
					<p align="right">Total remaining units: <%= session[:remain_units].length %></p>
				</div>
				<%= render partial: "master_layouts/unitinfo" %>
				
			</div>
		</div>		<!-- end of Remaining Units -->
		
	</div>
	<% end %>	
	
	<div class="row">
		
		<div class="col-md-4">  <!-- download and email -->
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h3 class="panel-title"><center>Download & Email</center></h3>
				</div>
				
				<div class="panel-body" style="height: 115px">
					<div align="center">
						<%= link_to 'Download PDF', download_pdf_path, class: "btn btn-success" %>
						<%= link_to 'Download CSV', download_csv_path, class: "btn btn-warning" %>
					</div>
					
					<br>
				
					<div class="input-group">
						<input type="email" class="form-control" id="email" placeholder="Enter Email Address">
	  					<span class="input-group-btn">
	    					<button class="btn btn-default" type="button">Send</button>
	  					</span>
					</div>	
				</div>
			
			</div>
		</div>		<!-- end of download and email -->

		<div class="col-md-4"> <!-- upload your CSV -->
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h3 class="panel-title"><center>Upload your CSV</center></h3>
				</div>		
				
				<div class="panel-body" style="height: 110px; margin-top: 5px">
					<div class="form-group">
						<input type="file" id="localFile"><br>
						<label><a href="#" class="btn btn-default" role="button">Upload</a></label>
					</div>
				</div>
				
			</div>
		</div>		<!-- end of upload your CSV -->

		<div class="col-md-4"> <!-- credit points -->
			<div class="panel panel-default">				
				<div class="panel-heading">
					<h3 class="panel-title"><center>Credit Points</center></h3>
				</div>
				<%= render partial: "master_layouts/creditpoints" %>			
			</div>
		</div>		<!-- end of credit points -->
	
	</div>
	
	<br><br>
</div>					<!--planner ends-->

<% if @proceed == false %>
	<script type="text/javascript">window.alert("<%= @msg %>");</script>
<% end %>
<%= render partial: "master_layouts/footer" %>
