<style type="text/css">
    label {font-weight: normal !important};
</style>
        <div class="col-md-8">
        <div class = "panel panel-info">

            <div class="panel-heading">
                <div class="panel-title text-center">Hello, Welcome to Enrolment Planner</div>
            </div>

            <br>
            <%= form_tag :action => "unit_chooser" do %>
            <div class="panel-body">
                <p class="subheading">Please select your stream:</p>

                <!-- Select stream -->
                <% if (@streams.empty?) %>
                    <select name="streamSelect" class="form-control" style="margin:15px; width:90%;">
                        <option value="0">No stream available.</option>
                    </select>
                <% else %>
                    <%= select_tag "streamSelect", options_from_collection_for_select(@streams, "id", "streamName"), multiple: false, class: 'form-control',  style: "margin-left:15px; width:90%;" %>
                <% end %>

                <br />

                <!-- Select math units -->
                <hr style="border-color:#CCC">
                    <p class="subheading">Please select the maths subjects that you have done:</p>

                    <div style="margin-left:15px; margin-top:10px;">
						<input type="checkbox" checked="true" style="display:none;" name="maths[]" value="2cd">
                        <label><input type="checkbox" checked="true" disabled="true"> Mathematics 2C/D</label><br />
                        <label><input type="checkbox" name="maths[]" value="3ab"> Mathematics 3A/B</label><br />
                        <label><input type="checkbox" name="maths[]" value="3cd"> Mathematics 3C/D</label><br />

                    </div>

                <!-- Proceed button -->
                <% if @proceed %>
                    <%= submit_tag "Proceed", class: "btn btn-info pull-right", style: "width:150px" %>
                <% else %>
                    <%= submit_tag "Proceed", class: "btn btn-info pull-right disabled", style: "width:150px" %>
                <% end %>

            <% end %>
            </div>

        </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1"> <!-- upload your CSV -->
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title"><center>Continue Previous Session</center></h3>
                </div>      

                <div class="panel-body" style="overflow:hidden;">
                    <%= form_tag download_csv_path, multipart: true do %>
                    <div class="form-group">
                        <%= file_field_tag :file, accept: 'text/csv' %><br>
                        <%= submit_tag "Upload CSV File", class: 'btn btn-info btn-sm pull-right' %>
                    </div>
                    <% end %>
                </div>

            </div>
        </div>      <!-- end of upload your CSV -->