<%= render partial: "navbar" %>

<div class="container">				<!--admin login begings-->

	<form class="form-inline" role="form" align="right">
		<label>Admin Login</label>
	  <div class="form-group">
	    <label class="sr-only" for="email">Email address</label>
	    <input type="email" class="form-control" id="email" placeholder="Staff ID">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="password">Password</label>
	    <input type="password" class="form-control" id="password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-primary">Sign in</button>
	</form>

</div>					<!--admin login ends-->

<br>

<div class = "container">			<!--select completed units begins-->

	<center>
		
		<div class = "jumbotron" style="width:75%">

			<%= form_tag :action => "enrolment_planner" do %>

			<% @stream_units.each do |su| %>
				<% #check_box_tag(name, id, checked, option) %>
				<p><%= check_box_tag 'unit_ids[]', su.unit_id, false %><%= get_streamunit_name(su.unit_id) %></p>
			<% end %>

			<%= submit_tag "Proceed to planning", class: "btn btn-success pull-right" %>
		<% end %>

		</div>

	</center>

</div>					<!--select completed units ends-->

<%= render partial: "footer" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>