<%= render partial: "master_layouts/navbar" %>

<div class = "container">			<!--select completed units begins-->

	<center>
		
		<div class = "jumbotron" style="width:75%">

			<%= form_tag :action => "enrolment_planner" do %>

			<% @stream_units.each do |su| %>
				<% #check_box_tag(name, id, checked, option) %>
				<p><%= check_box_tag 'unit_ids[]', su.unit_id, false %><%= get_streamunit_name(su.unit_id) %></p>
			<% end %>

			<%= submit_tag "Proceed to planning", class: "btn btn-success pull-right" %>
		<% end %>

		</div>

	</center>

</div>					<!--select completed units ends-->

<%= render partial: "master_layouts/footer" %>
<% session[:enrol_planner_flag] = 1 %>