<div class = "container">			<!--select completed units begins-->

	<center>
		
		<div class = "jumbotron" style="width:75%">
		<h3><b><%= get_stream_name(session[:selected_stream]) %></b><br /><br /></h3>
		<h5 align="left">Here is the default course structure, you can choose the units that you have completed, and proceed for further planning.</h5>
			<%= form_tag :action => "enrolment_planner" do %>
			<% unless @stream_units.nil? %>
				<div class="panel panel-default">
					<table class="table table-bordered">
						<tr>
							<th style="text-align:center;">Year 1 Semester 1</th>
							<th style="text-align:center;">Year 2 Semester 2</th>
						</tr>
						<tr>
							<td id="11"><%@su_y1s1.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
							<td id="12"><%@su_y1s2.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
						</tr>
						<tr>
							<th style="text-align:center;">Year 2 Semester 1</th>
							<th style="text-align:center;">Year 2 Semester 2</th>
						</tr>
						<tr>
							<td id="21"><%@su_y2s1.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
							<td id="22"><%@su_y2s2.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
						</tr>
						<tr>
							<th style="text-align:center;">Year 3 Semester 1</th>
							<th style="text-align:center;">Year 3 Semester 2</th>
						</tr>
						<tr>
							<td id="31"><%@su_y3s1.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
							<td id="32"><%@su_y3s2.each do |u|%><%= check_box_tag 'unit_ids[]', u.unit_id, false %> <%= get_unit_name(u.unit_id) %><br /><%end%></td>
						</tr>
					</table>
				</div>
			<% else %>
				<p>Cannot find any unit for stream!</p>
			<% end %>
			
			<h4 align="left">Select starting semester</h4>
			<div class="col-md-5"> 
				<%= radio_button_tag(:sem, "1", true) %> 
				<%= label_tag(:sem, "Semester 1") %>
			</div>
			<div class="col-md-3"> 
				<%= radio_button_tag(:sem, "2") %>
				<%= label_tag(:sem, "Semester 2") %>
			</div>
			
			<%= submit_tag "Proceed to planning", class: "btn btn-success pull-right" %>
			<% end %>

		</div>

	</center>

</div>					<!--select completed units ends-->

<%= render partial: "master_layouts/footer" %>
<% session[:enrol_planner_flag] = 1 %>