<!-- Navigation bar -->
<ol class="breadcrumb">
  <li class="active"><b>Admin Portal</b></li>
</ol>

<!-- START course management -->
	<!-- START update units -->
	<div class = "panel panel-success">
		<div class = "panel-heading"><div  style="font-size:16px; text-align:left;">Update Units</div></div>
		<div class = "panel-body">
			<div class = "col-md-6">
				<%= form_tag import_units_path, multipart: true do %>
					<%= file_field_tag :file, accept: 'text/csv' %>
					<br><%= submit_tag "Update Units", class: 'btn btn-success btn-sm' %>
					<%= link_to "Download CSV", units_path(format: "csv"), class: 'btn btn-success btn-sm', style: "color:white;" %>
				<% end %>
			</div>
			<div class = "col-md-6">
				<p class="text-danger"><small><span class="glyphicon glyphicon-exclamation-sign"></span> Its always recomended to create a backup before you try any CSV update attempts, as this action can not be undone.</small></p>
			</div>
		</div>
	</div>
	<!-- END update units -->

	<!-- START update streams -->
	<div class = "panel panel-success">
		<div class = "panel-heading"><div class="panel-title">Update Streams</div></div>
		<div class = "panel-body">
			<div class = "col-md-6">
				<%= form_tag import_streams_path, multipart: true do %>
					<%= file_field_tag :file, accept: 'text/csv'%>
					<br><%= submit_tag "Update Streams", class: 'btn btn-success btn-sm' %>
					<%= link_to "Download CSV", streams_path(format: "csv"), class: 'btn btn-success btn-sm', style: "color:white;" %>
				<% end %>
			</div>
			<div class = "col-md-6">
				<p class="text-danger"><small><span class="glyphicon glyphicon-exclamation-sign"></span> Its always recomended to create a backup before you try any CSV update attempts, as this action can not be undone.</small></p>
			</div>
		</div>
	</div>
	<!-- END update streams -->
<!-- END course management -->