<div class = "container">

	<!--<div class="alert alert-success">Success</div> -->

	<div class = "row">

		<!-- START course management -->
		<!-- <div class = "col-xs-12 col-md-8"> -->
			<!-- START update units -->
			<div class = "panel panel-default">
				<div class = "panel-heading" style = 'font-weight:bold'>Update Units</div>
				<div class = "panel-body">
					<div class = "col-md-6">
						<%= form_tag import_units_path, multipart: true do %>
							<%= file_field_tag :file %>
							<br><%= submit_tag "Update Units", class: 'btn btn-success btn-sm' %>
							<%= link_to "Download CSV", units_path(format: "csv"), class: 'btn btn-info btn-sm' %>
      						<%= link_to "Download PDF", units_path(format: "pdf"), class: 'btn btn-warning btn-sm' %>
						<% end %>
					</div>
					<div class = "col-md-6">
						<p class="text-danger"><small><span class="glyphicon glyphicon-exclamation-sign"></span> Its always recomended to create a backup before you try any CSV update attempts, as this action can not be undone.</small></p>
					</div>
				</div>
			</div>
			<!-- END update units -->

			<!-- START update streams -->
			<div class = "panel panel-default">
				<div class = "panel-heading" style = 'font-weight:bold'>Update Streams</div>
				<div class = "panel-body">
					<div class = "col-md-6">
						<%= form_tag import_streams_path, multipart: true do %>
							<%= file_field_tag :file %>
							<br><%= submit_tag "Update Stream", class: 'btn btn-success btn-sm' %>
							<%= link_to "Download CSV", streams_path(format: "csv"), class: 'btn btn-info btn-sm' %>
      						<%= link_to "Download PDF", streams_path(format: "pdf"), class: 'btn btn-warning btn-sm' %>
						<% end %>
					</div>
					<div class = "col-md-6">
						<p class="text-danger"><small><span class="glyphicon glyphicon-exclamation-sign"></span> Its always recomended to create a backup before you try any CSV update attempts, as this action can not be undone.</small></p>
					</div>
				</div>
			</div>
			<!-- END update streams -->

		<!-- </div> -->
		<!-- END course management -->

		<!-- START user management -->
		<!-- <div class = "col-xs-6 col-md-4">
			<div class = "panel panel-default">
				<div class = "panel-heading" style = 'font-weight:bold'>Change your password</div>
				<div class = "panel-body">
					<div style = "padding: 8px">
						<div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				            <input id="current-password" type="password" class="form-control" name="current-password" placeholder="Current Password" required />
				        </div>
				        <div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				            <input id="new-password" type="password" class="form-control" name="new-password" placeholder="New Password" required />
				        </div>
				        <div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				            <input id="new-password-retype" type="password" class="form-control" name="new-password-retype" placeholder="Retype New Password" required />
				        </div>
				        <button type="submit" class="btn btn-info pull-right">Create User</button><br><br>
			    	</div>
				</div>
			</div>
			<div class = "panel panel-default">
				<div class = "panel-heading" style = 'font-weight:bold'>Access Control</div>
				<div class = "panel-body">
					<div style = "padding: 8px">
						<div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				            <input id="new-username" type="text" class="form-control" name="new-username" placeholder="Staff ID" required />
				        </div>
				        <div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				            <input id="new-password" type="password" class="form-control" name="new-password" placeholder="Password" required />
				        </div>
				        <div style="margin-bottom: 25px" class="input-group">
				            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				            <input id="new-password-retype" type="password" class="form-control" name="new-password-retype" placeholder="Retype Password" required/>
				        </div>
				        <button type="submit" class="btn btn-info pull-right">Create User</button><br><br>
			    	</div>
				</div>
			</div>
		</div> -->
		<!-- END user management -->

	</div>
</div>


<%= render partial: "master_layouts/footer" %>
