<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, ('Email / ID')%><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
  </div>
  <div class="field">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<table>
  <thead>
    <tr>
      <th>Staff Email / ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @user.email %>    </td>
        <td>| <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
<%if @user.email =="globaladmin" %>
<%= render 'index' %>
<%end%>
<% end %>


<%= link_to 'Back', admin_index_path %>
