<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
  <div class="panel panel-success" style="width:50%">
    <div class="panel-heading">
      <%= "Editing stream: " + @stream.streamCode + " - " + @stream.streamName %>
    </div>
    <div class="panel-body" style="text-size: 15px">
      <div class="input-group"><div class="input-group-addon">Stream Code</div><%= f.text_field :streamCode, class: "form-control input-small", style: "width:100%" %></div><br />

      <div class="input-group"><div class="input-group-addon">Stream Name</div><%= f.text_field :streamName, class: "form-control input-small", style: "width:100%" %></div><br />
      <%= f.submit class: "btn btn-sm btn-success pull-right" %>
    </div>
  </div>
  </center>
<% end %>