<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%=label_tag :streamCode, ('Stream Code')%><br>
    <%= f.text_field :streamCode %>
  </div>
  <div class="field">
	<%=label_tag :streamName, ('Stream Name')%><br>
    <%= f.text_field :streamName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
