<p id="notice"><%= notice %></p>

<p>
  <strong>Streanname:</strong>
  <%= @stream.streanName %>
</p>

<p>
  <strong>Streamcode:</strong>
  <%= @stream.streamCode %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
