<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	
  <div class="field">
	<%=label_tag :unitCode, ('Unit Code')%><br>
    <%= f.number_field :unitCode %>
  </div>
  <div class="field">
	<%=label_tag :unitName, ('Unit Name')%><br>
    <%= f.text_field :unitName %>
  </div>
  <div class="field">
	<%=label_tag :preUnit, ('Has prerequisites?')%><br>
    <%= f.text_field :preUnit %>
  </div>
  <div class="field">
	<%=label_tag :creditPoints, ('Credit Points')%><br>
    <%= f.number_field :creditPoints %>
  </div>
  <div class="field">
	<%=label_tag :semAvailable, ('Semester Available')%><br>
    <%= f.number_field :semAvailable %>
  </div>
    <div class="field">
	<%=label_tag :plannedYear, ('Planned Year')%><br>
    <%= f.number_field :plannedYear %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
