<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
  <div class="panel panel-success" style="width:50%">
    <div class="panel-heading">
      <%= "Editing unit: " + @unit.unitCode + " - " + @unit.unitName %>
    </div>
    <div class="panel-body" style="text-size: 15px">
          <div class="input-group"><div class="input-group-addon">Unit Code</div><%= f.text_field :unitCode, class: "form-control input-small", style: "width:100%" %></div><br />

          <div class="input-group"><div class="input-group-addon">Unit Name</div><%= f.text_field :unitName, class: "form-control input-small", style: "width:100%" %></div><br />

          <div class="input-group"><div class="input-group-addon">Credit Points</div><%= f.number_field :creditPoints, class: "form-control input-small", style: "width:100%" %></div><br />

          <div class="input-group"><div class="input-group-addon">Semester Available</div><%= f.number_field :semAvailable, class: "form-control input-small", style: "width:100%" %></div><br />
      <%= f.submit class: "btn btn-sm btn-success pull-right" %>
    </div>
  </div>
  </center>
<% end %>