<div class = "container" style = "padding-bottom: 70px">

  <div class="media">
    <div class="media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Unit Code</th>
            <th>Unit Name</th>
            <th>Pre Unit</th>
            <th>Credit Points</th>
            <th>Semster Available</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @units.each do |unit| %>
            <tr>
              <td><%= unit.unitCode %></td>
              <td><%= unit.unitName %></td>
              <td><%= unit.preUnit %></td>
              <td><%= unit.creditPoints %></td>
              <td><%= unit.semAvailable %></td>
              <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
              <td><%= link_to 'Delete', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class = 'row'>
    <div class = 'col-md-6'>
      <hr>
      <h5 style = 'font-weight:bold'>Resubmit your CSV</h5>
      <br>
      <%= form_tag import_units_path, multipart: true do %>
        <%= file_field_tag :file %>
        <br>
        <%= submit_tag "Upload Units", class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>

    <div class = 'col-md-6'>
      <hr>
      <h5 style = 'font-weight:bold'>Download & Print</h5>
      <br>
      <%= link_to "Download CSV", units_path(format: "csv"), class: 'btn btn-success btn-sm' %>
      <%= link_to "Download PDF", units_path(format: "pdf"), class: 'btn btn-warning btn-sm' %>
      <%=link_to_function "Print this Page", "javascript:print()", class: 'btn btn-info btn-sm' %>
    </div>
  </div>
</div>

<%= render partial: "master_layouts/footer" %>