<p id="notice"><%= notice %></p>

<p>
  <strong>Unitcode:</strong>
  <%= @unit.unitCode %>
</p>

<p>
  <strong>Unitname:</strong>
  <%= @unit.unitName %>
</p>

<p>
  <strong>Preunit:</strong>
  <%= @unit.preUnit %>
</p>

    <% @unit.pre_req_groups.each_with_index do |pre_req_group, i| %>
      <ul>
		<% pre_req_group.preUnits.each_with_index do |preUnit, i| %>
			<li><%= preUnit.unitCode %> - <%= preUnit.unitName %></li>
			<% if i != pre_req_group.preUnits.size - 1 %>
				AND
			<% end %>
		<% end %>
      </ul>
	  <% if i != @unit.pre_req_groups.size - 1 %>
	    OR
	  <% end %>
    <% end %>

<p>
  <strong>Creditpoints:</strong>
  <%= @unit.creditPoints %>
</p>

<p>
  <strong>Semavailable:</strong>
  <%= @unit.semAvailable %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
