<%= form_for(@stream_unit) do |f| %>
  <% if @stream_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_unit.errors.count, "error") %> prohibited this stream_unit from being saved:</h2>

      <ul>
      <% @stream_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stream_id %><br>
    <%= f.number_field :stream_id %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br>
    <%= f.number_field :unit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
