<div class = "navbar navbar-inverse navbar-static-top">			<!--nav bar begins-->
	<div class = "container">
		<div class = ".navbar-header">			
			<%= link_to "Enrolment Planner", planner_index_path, class: "navbar-brand" %>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">

			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Admin', '../admin' %></li>
			</ul>
		</div>
	</div>
</div>
<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>