<div class="container">  
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-success" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >
                <%= form_tag user_sessions_path, :method => :post do %>
                    <!-- Staff ID -->
                  	<div style="margin-bottom: 25px" class="input-group">
                		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    	<%= text_field_tag :email, nil, placeholder: 'Staff ID', required: true, autofocus: true, class: 'form-control' %>
                  	</div>

                    <!-- Password -->
                    <div style="margin-bottom: 15px" class="input-group">
                	    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    	<%= password_field_tag :password, nil, placeholder: 'Password', required: true, class: 'form-control' %>
                  	</div>

                    <!-- Buttons -->
                  	<div style="margin-top:10px" class="form-group actions">
                        <div class="col-sm-12 controls">
                            <%= link_to "Back", admin_index_path, class: 'btn btn-default pull-right', style: 'margin-right:5px;' %>
                			<%= submit_tag "Login" , class: "btn btn-success pull-right", style: "margin-right:5px; width:75px;" %>
                		</div>
                  	</div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render partial: "master_layouts/footer" %>