<%
year = (semester+1)/2
sem = (semester+1)%2+1
numUnits = session[:semesters][count].length
%>

<% if (session[:semesters][count][0].to_i >= 0) %>
<div class="col-md-6">
	<div class="thumbnail">
		<h5><center>Year <%=year%> Semester <%=sem%></center></h5>

		<div class="caption">
			<!-- display units of current semester. This need to be modify to "semester compatible". -->

				<% if (semester < session[:semesters].length) %>
					<table class="table table-condensed table-hover">
						<% session[:semesters][count.to_i].each_with_index do |uid, i| %>
							<% if (session[:semesters][count][i].to_i > 0) %>
								<tr>
									<td style="font-size:11px"><%= get_unit_code(uid) %></td>
									<td style="font-size:11px"><%=get_streamunit_name(uid)%></td>
								</tr>
							<% end %>
						<% end %>
					</table>
				<% else %>
					<% if session[:semesters][count][0] != 0 %>
						<%= select_tag "current_sem", options_from_collection_for_select(Unit.find(session[:semesters][count]), :id, :unit_to_s), multiple: true, class: "form-control", style: "font-size:11px; height:auto;" %>
					<% end %>
				<% end %>

			<!-- buttons -->
			<p><center>
				<% if (semester == session[:semesters].length) %>
					<%= submit_tag "Add", class: "btn btn-default btn-sm", onclick: "changeFlag(2)" %>
					<%= submit_tag "Remove", class: "btn btn-default btn-sm", onclick: "changeFlag(3)" %>
					<%= submit_tag "Done", class: "btn btn-primary btn-sm", onclick: "changeFlag(4)" %>
				<% else %>
					<%= submit_tag "Modify", class: "btn btn-default btn-sm", data: { confirm: "You sure want to modify? Any later semesters will be erased."}, id: count, onclick: "setSemID(this.id, 5)" %>
				<% end %>
			</center></p>
		</div>
	</div>
</div>
<% end %>