<%
year = (semester+1)/2
sem = (semester+1)%2+1
numUnits = session[:semesters][count].length
%>

<% if (session[:semesters][count][0].to_i >= 0) %>
<div class="col-md-6<%=push!=0 ? " col-md-offset-6" : "" %>">
	<div class="thumbnail">
		<div style="text-align: center; font-size: 14px;">Year <%=year%> Semester <%=sem%></div>

		<div class="caption">
			<table class="table table-condensed table-hover unitsList semtable" semtable-id="<%=semester-1%>" sem="<%=sem%>">
			<tbody>
				<% session[:semesters][count.to_i].each_with_index do |uid, i| %>
					<% unit = Unit.where(:id => uid).first %>
					<% if (session[:semesters][count][i].to_i > 0) %>
						<tr class="unitRow" credit-points="<%=unit.creditPoints%>" sem-avail="<%=unit.semAvailable==0 ? "Both" : unit.semAvailable %>" uid="<%=unit.id%>" >
							<td style="font-size:11px; text-align:center;"><%= unit.unitCode %></td>
							<td style="font-size:11px;"><%= unit.unitName %></td>
							<td style="font-size:11px; text-align:center;"><%= unit.semAvailable==0 ? "Both" : unit.semAvailable %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<tr class="creditsRow">
					<td colspan="2"><div style="font-size:11px; text-align:right;">Credit points: 
					<% if (session[:semesters][count][0] != 0) %>
						<%= calc_sem_credits(count.to_i) %>
					<% else %>
						0
					<% end %>
					</div>
					</td>
				</tr>
			</tfoot>
			</table>
		</div>
	</div>
</div>
<% end %>