<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "styles.css", "/css/stylish" %>
 	<link href="/views/planner/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <link href="/views/plannerbootstrap/css/styles.css" media="screen" rel="stylesheet" />
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
