<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js' %>
  <%= javascript_include_tag 'rails' %>
</head>
<body>
  <div>
	<%= render partial: "master_layouts/navbar" %>
    <span id="notice"><%= flash[:notice] %></span>
    <span id="alert"><%= flash[:alert] %></span>
  </div>
<%= yield %>

</body>
</html>
