<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <style type="text/css">
    body { padding-bottom: 70px; }
  </style>
</head>
<body>
  <div>
	<%= render partial: "master_layouts/navbar" %>
  </div>
	<div class="container">
	<div class="row">
		<%= render partial: "master_layouts/messages"%>
	</div>
	<%= yield %>
	</div>
<%= render partial: "master_layouts/footer" %>
</body>
</html>
